body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f6f8;
    color: #222;
    text-align: center;
}

header {
    padding: 60px 20px;
    background: #1f2937;
    color: white;
}

header h1 {
    font-size: 42px;
}

main {
    padding: 40px 20px;
}

.card {
    max-width: 500px;
    margin: 30px auto;
    padding: 25px;
    background: white;
    border-radius: 10px;
}

li {
    list-style: none;
    padding: 8px;
}

footer {
    padding: 20px;
    background: #1f2937;
    color: white;
}
